openapi: 3.1.0
info:
  title: PineconeX API
  version: "1.0.0"
  description: >
    Backtest and live-trade Pine Script v6 strategies on PineconeX. Authenticate with a
    personal access token created in the web app under Account -> API keys, sent as
    `Authorization: Bearer pcx_live_...`.
  license:
    # MIT (not CC BY like the prose docs): this is a functional spec meant to be embedded
    # in code / ChatGPT Actions, and Creative Commons advises against CC for software.
    name: MIT
    identifier: MIT
servers:
  - url: https://pineconex.com
    description: PineconeX production
security:
  - bearerAuth: []
tags:
  - name: Strategies
  - name: Validate
  - name: Jobs
  - name: Data
  - name: Brokers
  - name: Account

paths:
  /api/v1/strategies:
    get:
      operationId: listStrategies
      tags: [Strategies]
      summary: List your strategies (and ones shared with you).
      responses:
        "200":
          description: Array of strategies.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Strategy" }
    post:
      operationId: createStrategy
      tags: [Strategies]
      summary: Create a strategy from Pine Script v6 source.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  description: Pine Script v6 source.
      responses:
        "201":
          description: Created strategy.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Strategy" }

  /api/v1/strategies/{id}:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      operationId: getStrategy
      tags: [Strategies]
      summary: Get one strategy.
      responses:
        "200":
          description: The strategy.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Strategy" }
    put:
      operationId: updateStrategy
      tags: [Strategies]
      summary: Update a strategy's source.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
      responses:
        "200":
          description: Updated strategy.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Strategy" }
    delete:
      operationId: deleteStrategy
      tags: [Strategies]
      summary: Delete a strategy.
      responses:
        "204": { description: Deleted. }

  /api/v1/strategies/{id}/inputs:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      operationId: getStrategyInputs
      tags: [Strategies]
      summary: The strategy's input.* fields (for parameter overrides).
      responses:
        "200":
          description: Array of input specs.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/InputSpec" }

  /api/v1/strategies/{id}/universe:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      operationId: getStrategyUniverse
      tags: [Strategies]
      summary: The cross-symbol universe the strategy reads via request.security — its book.
      description: >-
        One entry per instrument, in call order (the same symbol at two timeframes is one entry);
        [] when the strategy reads none. This is the BOOK for a portfolio backtest, a portfolio
        sweep, and mode:"portfolio" on /jobs/live — those take no symbol list, because the strategy
        names its own legs. Symbols come back exactly as written in the source and are not matched
        against the catalog, so the call is cheap and never fails on an unknown symbol; the
        launcher does the matching. Both declaration styles resolve — a literal array.from("A","B")
        universe and legs bound to input.string variables.
      responses:
        "200":
          description: Array of symbols, possibly empty.
          content:
            application/json:
              schema:
                type: array
                items: { type: string }

  /api/v1/strategies/{id}/params:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      operationId: getStrategyParams
      tags: [Strategies]
      summary: Current saved parameter overrides.
      responses:
        "200":
          description: Saved overrides.
          content:
            application/json:
              schema:
                type: object
                properties:
                  params_json5: { type: string, nullable: true }
    put:
      operationId: saveStrategyParams
      tags: [Strategies]
      summary: Save parameter overrides.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [params_json5]
              properties:
                params_json5: { type: string }
      responses:
        "204": { description: Saved. }

  /api/v1/strategies/{id}/share:
    parameters:
      - $ref: "#/components/parameters/PathId"
    post:
      operationId: setStrategyVisibility
      tags: [Strategies]
      summary: Set a strategy's visibility.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [visibility]
              properties:
                visibility:
                  type: string
                  enum: [private, shared_open, shared_protected]
      responses:
        "200": { description: Updated. }

  /api/v1/strategies/from-github:
    post:
      operationId: importStrategyFromGithub
      tags: [Strategies]
      summary: Import a strategy from your connected GitHub repo.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [stem]
              properties:
                stem:
                  type: string
                  description: File stem of the tracked Pine file in your connected repo.
      responses:
        "201":
          description: Created strategy.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Strategy" }

  /api/v1/strategies/{id}/grant:
    parameters:
      - $ref: "#/components/parameters/PathId"
    post:
      operationId: grantStrategy
      tags: [Strategies]
      summary: Share a strategy directly with another user by email.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  description: Email of the user to grant read access to.
      responses:
        "200": { description: Granted. }

  /api/v1/validate:
    post:
      operationId: validateStrategy
      tags: [Validate]
      summary: Compile-check a strategy.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [strategy_id]
              properties:
                strategy_id: { type: string, format: uuid }
      responses:
        "200":
          description: Validation result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [valid, invalid] }
                  errors: { type: array, items: { type: string } }
                  warnings: { type: array, items: { type: string } }

  /api/v1/jobs:
    get:
      operationId: listJobs
      tags: [Jobs]
      summary: List recent jobs.
      responses:
        "200":
          description: Array of jobs.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Job" }

  /api/v1/jobs/backtest:
    post:
      operationId: launchBacktest
      tags: [Jobs]
      summary: Launch a backtest.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BacktestRequest" }
      responses:
        "201":
          description: Job created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }

  /api/v1/jobs/sweep:
    post:
      operationId: launchSweep
      tags: [Jobs]
      summary: Launch a parameter sweep.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SweepRequest" }
      responses:
        "201":
          description: Job created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }

  /api/v1/jobs/portfolio-backtest:
    post:
      operationId: launchPortfolioBacktest
      tags: [Jobs]
      summary: Launch a portfolio (shared-account book) backtest.
      description: >-
        One strategy run across N symbols against ONE shared account. The universe is the
        strategy's own request.security basket (array.from(...)), so there is no symbol field.
        400 if the universe resolves to fewer than 2 tradable legs.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PortfolioBacktestRequest" }
      responses:
        "201":
          description: Job created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }

  /api/v1/jobs/portfolio-sweep:
    post:
      operationId: launchPortfolioSweep
      tags: [Jobs]
      summary: Launch a portfolio (shared-account book) parameter sweep.
      description: >-
        Sweep a strategy's //@sweep inputs while it runs across the shared-account book. Each
        trial is a full book run; results are the same SweepResults shape as /jobs/sweep. 400 if
        the strategy has no //@sweep parameters or its universe resolves to fewer than 2 legs.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PortfolioSweepRequest" }
      responses:
        "201":
          description: Job created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }

  /api/v1/jobs/robustness:
    post:
      operationId: launchRobustness
      tags: [Jobs]
      summary: Launch a permutation (Monte Carlo significance) test.
      description: >-
        Requires a Premium plan or higher (403 otherwise). Bar-permutes the price series N
        times, re-runs the SELECTION PROCEDURE on each (see search_mode), and reports a
        p-value on whether the edge is real structure or luck. Requires the strategy to have
        //@sweep parameters (400 otherwise) — for every search_mode, including fixed.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RobustnessRequest" }
      responses:
        "201":
          description: Job created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }

  /api/v1/jobs/stress:
    post:
      operationId: launchStress
      tags: [Jobs]
      summary: Launch a synthetic-market stress test.
      description: >-
        Requires a Premium plan or higher (403 otherwise). Calibrates an Ornstein-Uhlenbeck +
        Poisson-jump process on the real series, then re-runs ONE fixed config across a grid of
        (mean-reversion half-life x jump intensity) cells with several simulated paths each, and
        reports where the strategy survives. It is NOT an optimizer and NOT a significance test:
        it runs no search and its market is synthetic. It answers "where does this config break?",
        not "is this edge real?". Pass params_override with the config you actually deploy —
        without it you are mapping the envelope of the .pine defaults, not of what you trade.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/StressRequest" }
      responses:
        "201":
          description: Job created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }
        "403":
          description: Plan does not permit validation jobs (requires Premium or higher).

  /api/v1/jobs/live:
    post:
      operationId: launchLiveBot
      tags: [Jobs]
      summary: Launch a live trading bot. Trades a real broker account — confirm intent first.
      description: >-
        Available on EVERY plan, free included — live trading is not plan-gated. What a tier buys
        is capacity: bots draw on the same concurrent-job quota as every other job type.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LiveRequest" }
      responses:
        "201":
          description: Job created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }
        "403":
          description: >-
            The concurrent-job quota is full, or a multi-symbol basket (`symbols` with ≥2 entries)
            was requested on the free plan — baskets are Pro and above. Live trading itself is not
            plan-gated.

  /api/v1/jobs/{id}:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      operationId: getJob
      tags: [Jobs]
      summary: Get a job's status.
      responses:
        "200":
          description: The job.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }
    delete:
      operationId: stopJob
      tags: [Jobs]
      summary: Stop or cancel a job.
      responses:
        "204": { description: Stopped. }

  /api/v1/jobs/{id}/results:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      operationId: getJobResults
      tags: [Jobs]
      summary: Get a completed job's results.
      responses:
        "200":
          description: Results JSON (shape varies by job type).
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /api/v1/jobs/{id}/analyse:
    parameters:
      - $ref: "#/components/parameters/PathId"
    post:
      operationId: analyseJob
      tags: [Jobs]
      summary: AI analysis of a job's results (descriptive).
      responses:
        "200":
          description: Analysis.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /api/v1/jobs/compare/analyse:
    post:
      operationId: analyseCompareJobs
      tags: [Jobs]
      summary: AI analysis comparing several jobs (descriptive).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids]
              properties:
                ids:
                  type: array
                  items: { type: string, format: uuid }
                provider:
                  type: string
                  nullable: true
                  description: Optional AI backend selector.
      responses:
        "200":
          description: Comparative analysis.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /api/v1/jobs/patch-preview:
    post:
      operationId: patchPreview
      tags: [Jobs]
      summary: Preview a strategy's effective inputs after applying overrides, without running a job.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [strategy_id]
              properties:
                strategy_id: { type: string, format: uuid }
                params_override:
                  type: object
                  nullable: true
                  additionalProperties: true
      responses:
        "200":
          description: Effective input specs with overrides applied.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /api/v1/data/symbols:
    get:
      operationId: listSymbols
      tags: [Data]
      summary: Available instruments.
      responses:
        "200":
          description: Array of symbols.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Symbol" }

  /api/v1/data/catalog:
    get:
      operationId: listDataCatalog
      tags: [Data]
      summary: Cached OHLCV datasets.
      responses:
        "200":
          description: Array of catalog entries.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/CatalogEntry" }

  /api/v1/data/saxo-catalog:
    get:
      operationId: listSaxoCatalog
      tags: [Data]
      summary: Cached Saxo datasets for the connected Saxo account.
      responses:
        "200":
          description: Array of catalog entries (empty if no Saxo account is connected).
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/CatalogEntry" }

  /api/v1/data/massive-status:
    get:
      operationId: massiveStatus
      tags: [Data]
      summary: Whether the Massive data source is configured on the server.
      responses:
        "200":
          description: Configuration status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  configured: { type: boolean }

  /api/v1/data/structure:
    get:
      operationId: dataStructure
      tags: [Data]
      summary: Price structure of a cached dataset, and the permutation block size it implies.
      description: >-
        Answers two questions -- what did this market do before any strategy touched it, and is
        shuffling this series a fair thing to do.
        Branch on price_structure / variance_ratio, NEVER on hurst: R/S Hurst measures long-range
        dependence over many horizons, a different property from the one-step reversion a
        mean-reversion strategy trades. An AR(1) with rho = -0.09 is mean reverting by construction
        and reports Hurst 0.573 ("trending").
        A "random_walk" verdict is as much about the measurement as the market -- read
        price_structure_detail, which states the smallest effect these bars could have detected.
        POST /api/v1/jobs/robustness already does this for you -- its block_size defaults to "auto",
        which measures the series being permuted -- so this endpoint is for INSPECTING an instrument
        (before choosing one, or to explain a result), not a required step. A permutation test is
        only exact if the bars are exchangeable; when suggested_block exceeds the block_size used,
        the null is an easier market than reality and the p-value is optimistically biased.
      parameters:
        - { name: symbol, in: query, required: true, schema: { type: string } }
        - { name: timeframe, in: query, required: true, schema: { type: string } }
        - { name: data_source, in: query, required: true, schema: { type: string } }
        - { name: from_date, in: query, required: false, schema: { type: string, format: date } }
        - { name: to_date, in: query, required: false, schema: { type: string, format: date } }
      responses:
        "200":
          description: Serial-dependence measurement.
          content:
            application/json:
              schema:
                type: object
                properties:
                  bars: { type: integer, description: Bars measured, after the date gate. }
                  acf:
                    type: array
                    items: { type: number }
                    description: Return autocorrelation at lags 1..N.
                  acf_band:
                    type: array
                    items: { type: number }
                    description: >-
                      Per-lag 95% band, robust to volatility clustering (which otherwise inflates
                      the ACF's sampling variance and invents dependence that is not there).
                  acf_band_nominal:
                    type: number
                    description: The textbook 1.96/sqrt(n); its gap to acf_band[0] shows how heteroskedastic the series is.
                  acf_abs:
                    type: array
                    items: { type: number }
                    description: Autocorrelation of |returns| — volatility clustering.
                  acf_abs_band: { type: number }
                  acf_lag1: { type: number }
                  acf_lag1_significant: { type: boolean }
                  vol_acf_lag1: { type: number }
                  vol_acf_lag1_significant: { type: boolean }
                  acf_decay_lag:
                    type: integer
                    nullable: true
                    description: Lag from which the ACF stays inside its band; null = dependence outruns the measurable window.
                  vol_acf_decay_lag: { type: integer, nullable: true }
                  suggested_block:
                    type: integer
                    description: >-
                      Block size the measurement implies. 1 means no detectable return memory, so
                      single-bar permutation is the correct and strictest null — not a fallback.
                  summary: { type: string, description: One-line plain-English verdict. }
                  variance_ratio:
                    type: number
                    nullable: true
                    description: Lo-MacKinlay VR(2). Below 1 reverting, 1 random walk, above 1 trending.
                  vr_z:
                    type: number
                    nullable: true
                    description: Heteroskedasticity-robust z against the random-walk null.
                  vr_p: { type: number, nullable: true }
                  price_structure:
                    type: string
                    enum: [mean_reverting, trending, random_walk, unknown]
                    description: The verdict. THE field to branch on — not hurst.
                  price_structure_label: { type: string }
                  price_structure_detail:
                    type: string
                    description: >-
                      One sentence including the sample size, and — when the verdict is random_walk —
                      the smallest effect these bars could have resolved at all.
                  history:
                    type: array
                    description: >-
                      The same headline metrics on a walking window, oldest first. One number over a
                      whole history can hide a regime change. Empty when the series is too short for
                      one full window. Neighbouring windows overlap heavily — read it as a moving
                      average, not as events.
                    items:
                      type: object
                      properties:
                        end_ms:
                          type: integer
                          description: >-
                            Milliseconds since epoch of the window's LAST bar. A point describes the
                            window ending there, so nothing uses bars from its own future.
                        n: { type: integer }
                        variance_ratio: { type: number, nullable: true }
                        vr_z: { type: number, nullable: true }
                        acf_lag1: { type: number }
                        acf_lag1_significant: { type: boolean }
                        price_structure: { type: string }
                  strategy_fit:
                    type: object
                    nullable: true
                    description: >-
                      How well these bars suit each trading archetype, 0-100, measured live from the
                      same window as everything above. Descriptive market statistics, NOT a
                      recommendation to trade anything.
                      When detail.structure_resolved is false, ignore mean_reversion and momentum:
                      inside |z| < 1.96 these bars cannot tell reverting from trending, so those two
                      are the limit of the measurement rather than a finding.
                    properties:
                      scores:
                        type: object
                        properties:
                          mean_reversion:  { type: integer, nullable: true }
                          trend_following: { type: integer, nullable: true }
                          momentum:        { type: integer, nullable: true }
                          breakout:        { type: integer, nullable: true }
                          swing_trading:   { type: integer, nullable: true }
                          scalping:
                            type: integer
                            nullable: true
                            description: Always null — needs live spread and market depth.
                      detail:
                        type: object
                        description: Raw sub-metrics behind the scores.
                        properties:
                          vr_z: { type: number, nullable: true }
                          structure_resolved:
                            type: boolean
                            nullable: true
                            description: False when |vr_z| < 1.96 — the sample cannot resolve the structure.
        "400":
          description: Dataset is not cached — fetch it first.

  /api/v1/data/fetch:
    post:
      operationId: fetchData
      tags: [Data]
      summary: Download and cache OHLCV data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [symbol_id, timeframe, from_date, to_date]
              properties:
                symbol_id: { type: string, format: uuid }
                timeframe: { type: string, example: "1D" }
                from_date: { type: string, format: date }
                to_date: { type: string, format: date }
                source: { type: string, default: yahoo }
      responses:
        "200":
          description: The resulting catalog entry.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CatalogEntry" }

  /api/v1/alpaca/status:
    get:
      operationId: alpacaStatus
      tags: [Brokers]
      summary: Alpaca connection status.
      responses:
        "200":
          description: Status.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /api/v1/saxo/status:
    get:
      operationId: saxoStatus
      tags: [Brokers]
      summary: Saxo connection status.
      responses:
        "200":
          description: Status.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /api/v1/ibkr/status:
    get:
      operationId: ibkrStatus
      tags: [Brokers]
      summary: Interactive Brokers connection status.
      responses:
        "200":
          description: Status.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /api/v1/lightspeed/status:
    get:
      operationId: lightspeedStatus
      tags: [Brokers]
      summary: Lightspeed connection status.
      responses:
        "200":
          description: Status.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /api/v1/bitstamp/status:
    get:
      operationId: bitstampStatus
      tags: [Brokers]
      summary: Bitstamp connection status.
      description: >-
        Returns { connected, env, account }. `env` is "sandbox" (demo funds — this venue's only
        paper mode) or "live" (real money); it is fixed at connect time, not per bot launch.
        `account` lists the funded currencies (Bitstamp has no account number).
      responses:
        "200":
          description: Status.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /api/v1/bitstamp/credentials:
    post:
      operationId: bitstampConnect
      tags: [Brokers]
      summary: Connect a Bitstamp account (API key + secret).
      description: >-
        Bitstamp is connectable over the API (as is a prop-firm account); Saxo is OAuth and must be
        connected in the web UI. The key is verified against Bitstamp before it is stored and
        must carry the "View your transactions" permission (Bitstamp's order status has no fill
        price, so transactions are the only place a bot can learn what it paid). Both key and
        secret are secret: on Bitstamp the key itself is the identity.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BitstampCredentials" }
      responses:
        "204": { description: Connected. }
        "400": { description: Bitstamp rejected the credentials, or the key lacks transactions permission. }
  /api/v1/bitstamp/disconnect:
    delete:
      operationId: bitstampDisconnect
      tags: [Brokers]
      summary: Disconnect the Bitstamp account.
      responses:
        "204": { description: Disconnected. }

  /api/v1/propfirm/firms:
    get:
      operationId: listPropFirms
      tags: [Brokers]
      summary: The prop firms that can be connected.
      description: >-
        Each entry is { id, name, gateway, env } — the firm is data, the gateway (e.g. tradovate)
        is the code path. Pick an id for POST /api/v1/propfirm/credentials.
      responses:
        "200":
          description: Firms.
          content:
            application/json:
              schema: { type: array, items: { type: object, additionalProperties: true } }
  /api/v1/propfirm/status:
    get:
      operationId: propfirmStatus
      tags: [Brokers]
      summary: Prop-firm connection status.
      description: >-
        Returns { connected, firm, gateway, env, account }. `env` is "demo" or "live" (the firm's
        funded capital under its evaluation rules) and is fixed by the firm you connected to.
      responses:
        "200":
          description: Status.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /api/v1/propfirm/credentials:
    post:
      operationId: propfirmConnect
      tags: [Brokers]
      summary: Connect a prop-firm account (login + firm-issued app identity).
      description: >-
        Verified against the gateway before anything is stored, so a bad credential fails here
        rather than at bot launch. The account must have API market data enabled — its absence is
        failed at connect, because the bot would otherwise die at warmup days later. Note the
        gateway answers a rejected login with HTTP 200 and an errorText body, and a lockout with a
        rate-limit penalty rather than a token; both are surfaced as real errors.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PropFirmCredentials" }
      responses:
        "204": { description: Connected. }
        "400": { description: Unknown firm, missing field, rejected login, lockout, or no API market-data entitlement. }
  /api/v1/propfirm/disconnect:
    delete:
      operationId: propfirmDisconnect
      tags: [Brokers]
      summary: Disconnect the prop-firm account.
      responses:
        "204": { description: Disconnected. }

  /api/v1/auth/me:
    get:
      operationId: getProfile
      tags: [Account]
      summary: Your profile.
      responses:
        "200":
          description: Profile.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
    patch:
      operationId: updateProfile
      tags: [Account]
      summary: Update profile fields.
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        "200":
          description: Updated profile.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /api/v1/newsletter/me:
    get:
      operationId: getNewsletterStatus
      tags: [Account]
      summary: Whether your account is subscribed to the product newsletter.
      responses:
        "200":
          description: Subscription status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscribed: { type: boolean }
    put:
      operationId: setNewsletterStatus
      tags: [Account]
      summary: Opt your account in or out of the product newsletter.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subscribed]
              properties:
                subscribed: { type: boolean }
      responses:
        "200":
          description: Updated subscription status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscribed: { type: boolean }

  /api/v1/auth/keys:
    get:
      operationId: listApiKeys
      tags: [Account]
      summary: List your API keys (metadata only).
      responses:
        "200":
          description: Array of keys.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ApiKey" }
    post:
      operationId: createApiKey
      tags: [Account]
      summary: Mint an API key (browser session only — a key cannot mint keys).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
      responses:
        "200":
          description: The new key (secret shown once).
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
                  name: { type: string }
                  key_prefix: { type: string }
                  key: { type: string, description: Plaintext key, shown once. }

  /api/v1/auth/keys/{id}:
    parameters:
      - $ref: "#/components/parameters/PathId"
    delete:
      operationId: revokeApiKey
      tags: [Account]
      summary: Revoke an API key.
      responses:
        "204": { description: Revoked. }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: A PineconeX personal access token (pcx_live_...).
  parameters:
    PathId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
  schemas:
    Strategy:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }
        status: { type: string, enum: [unvalidated, valid, invalid] }
        content_hash: { type: string }
        bytecode_hash: { type: string, nullable: true }
        code: { type: string, nullable: true }
        visibility: { type: string, enum: [private, shared_open, shared_protected] }
        share_token: { type: string, format: uuid, nullable: true }
        is_owner: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        github_stem: { type: string, nullable: true }
        params_json5: { type: string, nullable: true }
    InputSpec:
      type: object
      description: One input.* field. Shape depends on `kind`.
      properties:
        kind: { type: string, enum: [int, float, bool, string] }
        var_name: { type: string }
        title: { type: string }
        defval: {}
        minval: { type: number, nullable: true }
        maxval: { type: number, nullable: true }
        step: { type: number }
        options: { type: array, items: { type: string } }
        swept: { type: boolean }
    CommonJobRequest:
      type: object
      required: [strategy_id, symbol, timeframe, from_date, to_date, data_source]
      properties:
        strategy_id: { type: string, format: uuid }
        symbol: { type: string, example: AAPL }
        timeframe: { type: string, example: "1D", description: "1D, 1H, 15m, 5m, 1m, 1W, 1M" }
        from_date: { type: string, format: date }
        to_date: { type: string, format: date }
        data_source:
          type: string
          example: yahoo
          enum: [yahoo, saxo, massive, ibkr, alpaca, bitstamp]
          description: >-
            A source only serves symbols it has a ticker for (see the Symbol schema); a null
            ticker is a 400. yahoo: equities + crypto, no account, but NO intraday older than
            730 days. saxo: EU/US equities (needs saxo_uic — crypto has none). alpaca: US
            equities + US-dollar crypto pairs, crypto history starts 2021-01-01. bitstamp:
            crypto (USD + EUR) — no account needed, timeframes 1m/5m/15m/30m/60m/1D, and the
            ONLY source for deep intraday crypto history (public series back to 2011).
        htf_timeframe: { type: string, nullable: true }
        htf_data_source: { type: string, nullable: true }
        intrabar_timeframe: { type: string, nullable: true }
        intrabar_data_source: { type: string, nullable: true }
    ParamsOverride:
      type: object
      additionalProperties: true
      description: "Map of input var_name -> number|bool (strings rejected)."
    BacktestRequest:
      allOf:
        - $ref: "#/components/schemas/CommonJobRequest"
        - type: object
          properties:
            params_override: { $ref: "#/components/schemas/ParamsOverride" }
    SweepRequest:
      allOf:
        - $ref: "#/components/schemas/CommonJobRequest"
        - type: object
          required: [mode]
          properties:
            mode: { type: string, enum: [grid, random, rbf, monte_carlo], description: "bayesian was REMOVED 2026-07-13, along with the simulated annealing that was then called monte_carlo (both failed a blind-random control at equal budget: annealing scored worse than random, bayesian tied it); sending bayesian returns 400. monte_carlo was REINTRODUCED 2026-08-02 as a different algorithm, the cross-entropy method: it samples a population per round, keeps the best fifth, refits its sampling distribution to those, and repeats. It evaluates a round's candidates in parallel (rbf cannot, since it refits a surrogate after every point) and it STOPS EARLY once the distribution only proposes parameter sets it has already tested, so a finished job may report fewer trials than requested. Do not read either steered mode as better than random: on 5 instruments x 3 seeds at equal budget, rbf beat blind random by +0.68 and monte_carlo by +0.38 net PnL %, and neither margin is statistically distinguishable from zero." }
            trials: { type: integer, nullable: true, description: "Evaluations for random/rbf/monte_carlo (rbf and monte_carlo call it the budget). Grid derives its count from minval/maxval/step." }
            metric: { type: string, default: net_pnl_pct, description: "The objective the search hill-climbs. One of net_pnl_pct, return_over_dd, sharpe, profit_factor, expectancy, win_rate, max_dd_pct (minimised) — or a custom expression 'expr: <formula>' over the trial metrics (variables: net_pnl_pct, max_dd_pct, trades, win_rate, profit_factor, expectancy, sharpe, return_over_dd; operators + - * / ( )), maximised as written, e.g. 'expr: net_pnl_pct - 0.5 * max_dd_pct'. ONLY rbf and monte_carlo steer — grid enumerates every cell and random samples blindly, so both ignore it (not an error, just no effect). Requires the strategy to have //@sweep params (400 otherwise)." }
            min_trades: { type: integer, default: 5, description: "A trial with fewer closed trades can never win — not in the search, not in the results ranking. 0..1000; 0 disables. This is what makes the non-PnL objectives safe: profit factor of a config that never trades is +inf (no losses) and win rate of one lucky trade is 100%, so with no floor a PF or win-rate search converges on a strategy that refuses to trade." }
            perm_seed: { type: integer, nullable: true, description: "Sweep a bar-PERMUTED copy of the series instead of the real bars. A permutation is fully determined by its seed, so re-submitting the same sweep under N seeds builds a null distribution of the best-of-search score — an in-sample Monte Carlo permutation test. No bars cross the wire. Rejected (400) with intrabar_timeframe." }
            perm_block: { type: integer, default: 1, description: "Permutation block size in bars (1..1000). 1 = single-bar. Ignored unless perm_seed is set." }
    CommonBookRequest:
      type: object
      required: [strategy_id, timeframe, from_date, to_date, data_source]
      description: "Fields common to the portfolio (book) jobs. The universe is the strategy's own request.security basket, so there is NO symbol field — initial_capital and leverage configure the one shared account instead."
      properties:
        strategy_id: { type: string, format: uuid }
        timeframe: { type: string, example: "1D", description: "1D, 1W, 240m, 60m, 30m, 15m, 5m" }
        from_date: { type: string, format: date }
        to_date: { type: string, format: date }
        data_source: { type: string, example: saxo, enum: [yahoo, saxo, massive, ibkr, alpaca, bitstamp] }
        initial_capital: { type: number, default: 100000, description: "Shared book account size. percent_of_equity sizing is a share of the whole book, not per symbol." }
        leverage: { type: number, default: 2.0, description: "Gross-exposure cap as a multiple of book equity (Sum|leg notional| <= leverage x equity). 2.0 = full long + full short (dollar-neutral); 1.0 caps total exposure at the account size." }
    PortfolioBacktestRequest:
      description: "One strategy across N symbols against one shared account. 400 if the universe resolves to fewer than 2 tradable legs. Results add a legs[] per-symbol contribution array."
      allOf:
        - $ref: "#/components/schemas/CommonBookRequest"
        - type: object
          properties:
            params_override: { $ref: "#/components/schemas/ParamsOverride" }
    PortfolioSweepRequest:
      description: "Sweep a strategy's //@sweep inputs across the shared-account book; each trial is a full book run. Same SweepResults shape as /jobs/sweep. No perm_seed/perm_block (in-sample permutation is single-instrument only)."
      allOf:
        - $ref: "#/components/schemas/CommonBookRequest"
        - type: object
          required: [mode]
          properties:
            mode: { type: string, enum: [grid, random, rbf, monte_carlo], description: "Same four searches as /jobs/sweep. monte_carlo gains no parallelism here (a book run is already serial across its legs) but still stops early rather than re-buying a book run it has already evaluated, so it can return fewer trials than the budget." }
            trials: { type: integer, nullable: true, description: "random samples / rbf|monte_carlo budget. Grid derives its count from minval/maxval/step." }
            metric: { type: string, default: net_pnl_pct, description: "The steered-search objective — same set as the sweep metric, including a custom 'expr: <formula>'. Only rbf and monte_carlo steer; grid/random ignore it." }
            min_trades: { type: integer, default: 5, description: "Book-wide closed-trade floor (0..1000; 0 disables). A trial below it can never win." }
    RobustnessRequest:
      allOf:
        - $ref: "#/components/schemas/CommonJobRequest"
        - type: object
          properties:
            permutations: { type: integer, default: 200, description: Null-distribution size (1..2000). }
            metric: { type: string, default: net_pnl_pct, description: "BOTH the statistic the p-value is computed on AND the objective the search hill-climbs inside every permutation — deliberately the same value. One of net_pnl_pct, return_over_dd, sharpe, profit_factor, expectancy, win_rate — or a custom expression 'expr: <formula>' (same syntax as the sweep metric), maximised as written. An MCPT is only valid when the procedure re-run on permuted bars IS the procedure that ran on the real bars, so a search optimising net PnL while the test reported win rate would be a different procedure and its null would not describe it. Set it to whatever your sweep optimised — including the same expr: formula if the sweep used one. max_dd_pct is NOT accepted (400): every statistic here is higher-is-better, which is what makes the one-sided upper tail correct." }
            min_trades: { type: integer, default: 5, description: "A trial with fewer closed trades can never be the winner the statistic is read from — applied identically to the real run and to every permutation. 0..1000. With no floor a strategy that takes ZERO trades is a valid winner: its statistic is 0, every shuffled series also scores 0, and the test returns p = 1.0000 about a strategy that never traded." }
            block_size:
              default: auto
              description: >-
                How much of the market's own memory survives into the null. Defaults to "auto",
                which MEASURES the series being permuted and sizes the block from that -- the right
                value is a property of the instrument, not a caller preference, so leave it alone
                unless you have a specific reason. 1 = single-bar permutation (destroys all serial
                structure); >1 = block permutation (shuffle N-bar chunks, preserving shorter
                structure), clamped to 1..1000. Results report the resolved integer plus block_auto.
              oneOf:
                - type: string
                  enum: [auto]
                - type: integer
                  minimum: 1
                  maximum: 1000
            seed: { type: integer, nullable: true, description: RNG seed; omit for time-seeded. Effective seed is echoed in results. }
            search_mode: { type: string, enum: [fixed, grid, random, rbf, monte_carlo], default: fixed, description: "The selection procedure re-run inside every permutation — this IS the null hypothesis. 'fixed' re-runs the strategy's authored input defaults (one backtest per permutation) and is correct ONLY if the parameters were chosen without looking at the data. If they came from a sweep, 'fixed' is optimistically biased: it cannot see that N candidates were tried, and the best of N noise draws is high by construction. Declare the search you actually used and it is re-run inside every permutation, so the null becomes 'the best score this strategy family can be fitted to noise'. Cost scales with it; permutations x search size is capped (400 over the limit)." }
            search_trials: { type: integer, nullable: true, description: "Candidates per permutation for random/rbf/monte_carlo. Ignored by fixed and grid. (The stale mention of bayesian here was a leftover: that mode was removed 2026-07-13.)" }
    StressRequest:
      allOf:
        - $ref: "#/components/schemas/CommonJobRequest"
        - type: object
          properties:
            model: { type: string, enum: [auto, ou_jump, trend_ar1, both], default: ou_jump, description: "Synthetic market generator. ou_jump = mean-reverting (AR(1) on the log price), trend_ar1 = momentum (AR(1) on the log return), both = one signed axis with a random walk at the centre, auto = measure the instrument's family and pick (resolving to both when inconclusive). The results echo the resolved `model` and the `axis_kind` that says what half_life_bars means." }
            half_lives: { type: array, items: { type: number }, description: "X axis: mean-reversion half-lives in bars. Max 12 values. The instrument's own calibrated coordinate is forced onto the grid, so a run is usually one row/column larger than what you pass." }
            jump_rates: { type: array, items: { type: number }, description: "Y axis: jumps per 1000 bars. Max 12 values." }
            paths: { type: integer, default: 20, description: Simulated paths per cell (1..100). }
            jump_sigma: { type: number, description: "0..50" }
            vol_mult: { type: number, description: "0.1..10" }
            bars: { type: integer, description: Bars per synthetic path (100..5000). }
            metric: { type: string, description: "The statistic each cell is scored on, driving the median and mean layers. Not the same setting as `survival`." }
            survival: { type: string, default: "net_pnl_pct > 0", description: "What counts as a path SURVIVING its cell, driving the frac_profitable layer. Comparisons (>, >=, <, <=) over net_pnl_pct, max_dd_pct (a positive percentage), trades, win_rate, profit_factor, expectancy, sharpe, return_over_dd, joined by `and` (max 4). Both sides may be expressions. Examples: `net_pnl_pct > 0 and max_dd_pct < 20`, `net_pnl_pct > 2 * max_dd_pct`. A count needs a fixed line where a statistic only needs to rank, which is why this is separate from `metric`; it is fixed for the whole run and echoed in the results. Rejected at submit time if it does not parse." }
            seed: { type: integer, nullable: true }
            params_override: { type: object, additionalProperties: true, nullable: true, description: "The config to stress, keyed by input VARIABLE name (not title). Numbers and bools only — strings are rejected (code-injection guard). Send the same override you use for /jobs/backtest and /jobs/live: stress runs one fixed parameter set across every synthetic market, so it should be the set you actually deploy. Unlike sweep and robustness, which deliberately ignore it." }

    LiveRequest:
      type: object
      required: [strategy_id, symbol, timeframe]
      properties:
        strategy_id: { type: string, format: uuid }
        symbol: { type: string, description: "The primary symbol. When `symbols` is sent, this is its first element — it selects the account-level credentials and labels the job." }
        symbols:
          type: array
          nullable: true
          items: { type: string }
          description: >-
            Optional symbol BASKET. Two or more entries launch one bot that trades them all in a
            single process, on one broker account and one shared timeframe, counting as ONE job
            against the concurrency quota. Zero or one entry is an ordinary single-symbol bot.
            Paid plans only (403 on free) and not supported on ibkr, lightspeed or propfirm (400).
        mode:
          type: string
          enum: [single, basket, portfolio]
          default: basket
          description: >-
            Which of the three live modes to run. `basket` (the default) gives every leg the FULL
            account equity to size against, so N legs at percent_of_equity=100 try to deploy
            N x 100% of the account. `portfolio` runs a BOOK: the legs share the account's equity
            and a combined gross-exposure cap (see `leverage`), so together they never commit more
            than the cap allows — the breaching leg is sized down, and an entry into a full book is
            skipped rather than sent. In portfolio mode THE STRATEGY NAMES THE BOOK: the legs are
            its own request.security universe (read it from GET /strategies/{id}/universe), any
            `symbols` you send is replaced by it, and `symbol` becomes its first entry. The
            universe must be 2-5 symbols. Refused if the broker reports no account equity.
            Survives an auto-restart.
        leverage:
          type: number
          default: 1.0
          minimum: 0.1
          maximum: 4
          description: >-
            Portfolio mode only: the book's gross-exposure cap as a multiple of ACCOUNT equity
            (sum of |leg notional| <= leverage x equity). 1.0 caps the book at the account size;
            2.0 permits fully long and fully short at once and so needs a margin account that
            allows shorting. Values above 1.0 are refused on bitstamp, which cannot borrow.
        timeframe: { type: string }
        htf_timeframe: { type: string, nullable: true }
        intrabar_timeframe: { type: string, nullable: true, description: "Intrabar warmup resolution fetched from the broker feed (request.security_lower_tf). Live bots have no stored dataset, so there is no separate data source." }
        execute_orders: { type: boolean, default: true }
        heartbeat_secs: { type: integer, nullable: true }
        auto_restart: { type: boolean, default: false }
        params_override: { $ref: "#/components/schemas/ParamsOverride" }
        broker:
          type: string
          enum: [saxo, alpaca, ibkr, lightspeed, bitstamp, propfirm]
          default: saxo
          description: >-
            The broker changes what protective orders exist. saxo and alpaca (equity) place a
            native OCO (resting stop + take-profit, linked). alpaca CRYPTO can rest only ONE
            exit — the stop — so its take-profit is bot-managed at bar close. bitstamp is SPOT
            and has NO native stop/TP/OCO at all: it accepts stop_price, answers 200 OK with an
            order id, and creates nothing, so every Bitstamp stop is SYNTHETIC (bot-side, bar
            close, on a 24/7 market) and spot is long-only. lightspeed and ibkr send market
            orders only — nothing rests, nothing protects. propfirm is CME futures through the
            firm's gateway: live-only (no data source, no backtest path), it trades the front
            month resolved at launch and never rolls, and the firm's own loss limit / trailing
            drawdown can flatten and lock the account invisibly to the bot.
        saxo_env: { type: string, enum: [sim, live], nullable: true, description: "Saxo only. Bitstamp's env is fixed when its credentials are saved." }
        webhook_url: { type: string, nullable: true, description: http/https endpoint for order/trade/fill events. Ignored under options_routing, where the runner points the webhook at the options runtime. }
        options_routing:
          type: boolean
          default: false
          description: >-
            ALPACA ONLY (400 on any other broker). Routes each signal through the options runtime,
            which scores the underlying shares against the option chain and places whichever
            expresses the signal best on a risk-adjusted basis. Forces execute_orders=false — the
            runtime places every order, so a bot that also traded would open both the shares and
            the contracts for one signal. Best for fast directional strategies; on a slow or
            mean-reverting one the premium decays while it waits for an exit signal.
        options_params:
          $ref: "#/components/schemas/OptionsRoutingParams"

    OptionsRoutingParams:
      type: object
      nullable: true
      description: >-
        Per-bot options-routing knobs. Every field is optional and an unset field means "use the
        runtime default", never zero. Ignored (silently dropped) unless options_routing is true.
        Values are CLAMPED rather than rejected, and min_dte/max_dte are swapped if sent inverted.
      properties:
        capital: { type: number, nullable: true, description: "Cash the model may deploy per signal. Clamped to 1 … 10000000." }
        risk_frac: { type: number, nullable: true, description: "Fraction of capital allowed to be lost on the stop — this is what sizes the position. Clamped to 0.0001 … 1." }
        min_dte: { type: integer, nullable: true, description: "Earliest expiry the chain search considers, in days. Clamped to 1 … 730 — the floor of 1 makes same-day (0DTE) contracts unreachable by design." }
        max_dte: { type: integer, nullable: true, description: "Latest expiry considered, in days. Clamped to 1 … 730." }
        horizon_days: { type: number, nullable: true, description: "Expected holding period; drives which expiry wins the scoring. Clamped to 0.5 … 730." }
        allow_short: { type: boolean, nullable: true, description: "Open a short expression when a sell signal arrives with nothing held." }
        dry_run: { type: boolean, nullable: true, description: "Score and log the decision, place nothing." }
        auto_roll: { type: boolean, nullable: true, description: "Roll a held option to a later expiry before it decays to nothing. Defaults ON: the strategy reasons in the underlying's price and is blind to expiry, so a sideways market with no exit signal would otherwise let the position expire." }
    Job:
      type: object
      properties:
        id: { type: string, format: uuid }
        strategy_id: { type: string, format: uuid, nullable: true }
        job_type: { type: string, enum: [backtest, sweep, robustness, stress, live] }
        status: { type: string, enum: [pending, running, completed, failed, cancelled, timeout] }
        container_id: { type: string, nullable: true }
        config: { type: object, additionalProperties: true }
        auto_restart: { type: boolean }
        created_at: { type: string, format: date-time }
        finished_at: { type: string, format: date-time, nullable: true }
        progress_done: { type: integer, nullable: true }
        progress_total: { type: integer, nullable: true }
        error_message: { type: string, nullable: true }
    Symbol:
      type: object
      description: >-
        Always address a symbol by tv_symbol (AAPL, BTCUSD, ETHEUR) — the API maps it to each
        source's and broker's own name. The per-venue tickers below are NOT interchangeable
        (BTC-USD on Yahoo, BTC/USD on Alpaca, btcusd on Bitstamp) and are exposed only so a
        client can tell which sources/brokers carry the symbol: a null ticker means that venue
        cannot serve it. Crypto sits under index_name "Crypto (USD)" / "Crypto (EUR)".
      properties:
        id: { type: string, format: uuid }
        tv_symbol: { type: string, example: BTCUSD }
        display_name: { type: string }
        index_name: { type: string, example: Crypto (USD) }
        yahoo_ticker: { type: string, nullable: true, example: BTC-USD }
        massive_ticker: { type: string, nullable: true }
        ibkr_symbol: { type: string, nullable: true }
        alpaca_us_symbol: { type: string, nullable: true, example: BTC/USD }
        saxo_uic: { type: integer, nullable: true, description: Null for crypto — Saxo cannot serve it. }
        bitstamp_pair: { type: string, nullable: true, example: btcusd }
    BitstampCredentials:
      type: object
      required: [api_key, api_secret, env]
      properties:
        api_key: { type: string }
        api_secret: { type: string }
        env:
          type: string
          enum: [sandbox, live]
          description: sandbox = demo funds (this venue's only paper mode). live = REAL MONEY.
    PropFirmCredentials:
      type: object
      required: [firm_id, username, password, app_id, cid, sec]
      properties:
        firm_id: { type: string, format: uuid, description: From GET /api/v1/propfirm/firms. }
        username: { type: string, description: Your gateway login. }
        password: { type: string }
        app_id: { type: string, description: Issued BY THE FIRM together with the account — PineconeX mints nothing. }
        cid: { type: string, description: Issued by the firm with the account. }
        sec: { type: string, description: Issued by the firm with the account. }
    CatalogEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        symbol_id: { type: string, format: uuid }
        tv_symbol: { type: string }
        display_name: { type: string }
        index_name: { type: string }
        source: { type: string }
        timeframe: { type: string }
        from_date: { type: string, format: date }
        to_date: { type: string, format: date }
        row_count: { type: integer }
        updated_at: { type: string, format: date-time }
        expires_at: { type: string, format: date-time, nullable: true }
    ApiKey:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        key_prefix: { type: string }
        created_at: { type: string, format: date-time }
        last_used_at: { type: string, format: date-time, nullable: true }
        expires_at: { type: string, format: date-time, nullable: true }
