openapi: 3.1.0
info:
  title: PineconeX API
  version: "1.0.0"
  description: >
    Backtest and live-trade Pine Script v6 strategies on PineconeX. Authenticate with a
    personal access token created in the web app under Account -> API keys, sent as
    `Authorization: Bearer pcx_live_...`.
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/
servers:
  - url: https://pineconex.com
    description: PineconeX production
security:
  - bearerAuth: []
tags:
  - name: Strategies
  - name: Validate
  - name: Jobs
  - name: Data
  - name: Brokers
  - name: Account

paths:
  /api/v1/strategies:
    get:
      operationId: listStrategies
      tags: [Strategies]
      summary: List your strategies (and ones shared with you).
      responses:
        "200":
          description: Array of strategies.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Strategy" }
    post:
      operationId: createStrategy
      tags: [Strategies]
      summary: Create a strategy from Pine Script v6 source.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  description: Pine Script v6 source.
      responses:
        "201":
          description: Created strategy.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Strategy" }

  /api/v1/strategies/{id}:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      operationId: getStrategy
      tags: [Strategies]
      summary: Get one strategy.
      responses:
        "200":
          description: The strategy.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Strategy" }
    put:
      operationId: updateStrategy
      tags: [Strategies]
      summary: Update a strategy's source.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
      responses:
        "200":
          description: Updated strategy.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Strategy" }
    delete:
      operationId: deleteStrategy
      tags: [Strategies]
      summary: Delete a strategy.
      responses:
        "204": { description: Deleted. }

  /api/v1/strategies/{id}/inputs:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      operationId: getStrategyInputs
      tags: [Strategies]
      summary: The strategy's input.* fields (for parameter overrides).
      responses:
        "200":
          description: Array of input specs.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/InputSpec" }

  /api/v1/strategies/{id}/params:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      operationId: getStrategyParams
      tags: [Strategies]
      summary: Current saved parameter overrides.
      responses:
        "200":
          description: Saved overrides.
          content:
            application/json:
              schema:
                type: object
                properties:
                  params_json5: { type: string, nullable: true }
    put:
      operationId: saveStrategyParams
      tags: [Strategies]
      summary: Save parameter overrides.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [params_json5]
              properties:
                params_json5: { type: string }
      responses:
        "204": { description: Saved. }

  /api/v1/strategies/{id}/share:
    parameters:
      - $ref: "#/components/parameters/PathId"
    post:
      operationId: setStrategyVisibility
      tags: [Strategies]
      summary: Set a strategy's visibility.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [visibility]
              properties:
                visibility:
                  type: string
                  enum: [private, shared_open, shared_protected]
      responses:
        "200": { description: Updated. }

  /api/v1/validate:
    post:
      operationId: validateStrategy
      tags: [Validate]
      summary: Compile-check a strategy.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [strategy_id]
              properties:
                strategy_id: { type: string, format: uuid }
      responses:
        "200":
          description: Validation result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [valid, invalid] }
                  errors: { type: array, items: { type: string } }
                  warnings: { type: array, items: { type: string } }

  /api/v1/jobs:
    get:
      operationId: listJobs
      tags: [Jobs]
      summary: List recent jobs.
      responses:
        "200":
          description: Array of jobs.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Job" }

  /api/v1/jobs/backtest:
    post:
      operationId: launchBacktest
      tags: [Jobs]
      summary: Launch a backtest.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BacktestRequest" }
      responses:
        "201":
          description: Job created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }

  /api/v1/jobs/sweep:
    post:
      operationId: launchSweep
      tags: [Jobs]
      summary: Launch a parameter sweep.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SweepRequest" }
      responses:
        "201":
          description: Job created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }

  /api/v1/jobs/robustness:
    post:
      operationId: launchRobustness
      tags: [Jobs]
      summary: Launch a permutation (Monte Carlo significance) test.
      description: >-
        Requires a Premium plan or higher (403 otherwise). Bar-permutes the price series N
        times, re-runs the SELECTION PROCEDURE on each (see search_mode), and reports a
        p-value on whether the edge is real structure or luck. Requires the strategy to have
        //@sweep parameters (400 otherwise) — for every search_mode, including fixed.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RobustnessRequest" }
      responses:
        "201":
          description: Job created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }

  /api/v1/jobs/stress:
    post:
      operationId: launchStress
      tags: [Jobs]
      summary: Launch a synthetic-market stress test.
      description: >-
        Requires a Premium plan or higher (403 otherwise). Calibrates an Ornstein-Uhlenbeck +
        Poisson-jump process on the real series, then re-runs ONE fixed config across a grid of
        (mean-reversion half-life x jump intensity) cells with several simulated paths each, and
        reports where the strategy survives. It is NOT an optimizer and NOT a significance test:
        it runs no search and its market is synthetic. It answers "where does this config break?",
        not "is this edge real?". Pass params_override with the config you actually deploy —
        without it you are mapping the envelope of the .pine defaults, not of what you trade.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/StressRequest" }
      responses:
        "201":
          description: Job created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }
        "403":
          description: Plan does not permit validation jobs (requires Premium or higher).

  /api/v1/jobs/live:
    post:
      operationId: launchLiveBot
      tags: [Jobs]
      summary: Launch a live trading bot. Trades a real broker account — confirm intent first.
      description: >-
        Available on EVERY plan, free included — live trading is not plan-gated. What a tier buys
        is capacity: bots draw on the same concurrent-job quota as every other job type.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LiveRequest" }
      responses:
        "201":
          description: Job created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }
        "403":
          description: >-
            The concurrent-job quota is full. (Live trading itself is not plan-gated.)

  /api/v1/jobs/{id}:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      operationId: getJob
      tags: [Jobs]
      summary: Get a job's status.
      responses:
        "200":
          description: The job.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }
    delete:
      operationId: stopJob
      tags: [Jobs]
      summary: Stop or cancel a job.
      responses:
        "204": { description: Stopped. }

  /api/v1/jobs/{id}/results:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      operationId: getJobResults
      tags: [Jobs]
      summary: Get a completed job's results.
      responses:
        "200":
          description: Results JSON (shape varies by job type).
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /api/v1/jobs/{id}/analyse:
    parameters:
      - $ref: "#/components/parameters/PathId"
    post:
      operationId: analyseJob
      tags: [Jobs]
      summary: AI analysis of a job's results (descriptive).
      responses:
        "200":
          description: Analysis.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /api/v1/data/symbols:
    get:
      operationId: listSymbols
      tags: [Data]
      summary: Available instruments.
      responses:
        "200":
          description: Array of symbols.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Symbol" }

  /api/v1/data/catalog:
    get:
      operationId: listDataCatalog
      tags: [Data]
      summary: Cached OHLCV datasets.
      responses:
        "200":
          description: Array of catalog entries.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/CatalogEntry" }

  /api/v1/data/fetch:
    post:
      operationId: fetchData
      tags: [Data]
      summary: Download and cache OHLCV data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [symbol_id, timeframe, from_date, to_date]
              properties:
                symbol_id: { type: string, format: uuid }
                timeframe: { type: string, example: "1D" }
                from_date: { type: string, format: date }
                to_date: { type: string, format: date }
                source: { type: string, default: yahoo }
      responses:
        "200":
          description: The resulting catalog entry.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CatalogEntry" }

  /api/v1/alpaca/status:
    get:
      operationId: alpacaStatus
      tags: [Brokers]
      summary: Alpaca connection status.
      responses:
        "200":
          description: Status.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /api/v1/saxo/status:
    get:
      operationId: saxoStatus
      tags: [Brokers]
      summary: Saxo connection status.
      responses:
        "200":
          description: Status.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /api/v1/ibkr/status:
    get:
      operationId: ibkrStatus
      tags: [Brokers]
      summary: Interactive Brokers connection status.
      responses:
        "200":
          description: Status.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /api/v1/lightspeed/status:
    get:
      operationId: lightspeedStatus
      tags: [Brokers]
      summary: Lightspeed connection status.
      responses:
        "200":
          description: Status.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /api/v1/bitstamp/status:
    get:
      operationId: bitstampStatus
      tags: [Brokers]
      summary: Bitstamp connection status.
      description: >-
        Returns { connected, env, account }. `env` is "sandbox" (demo funds — this venue's only
        paper mode) or "live" (real money); it is fixed at connect time, not per bot launch.
        `account` lists the funded currencies (Bitstamp has no account number).
      responses:
        "200":
          description: Status.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /api/v1/bitstamp/credentials:
    post:
      operationId: bitstampConnect
      tags: [Brokers]
      summary: Connect a Bitstamp account (API key + secret).
      description: >-
        Bitstamp is the one broker connectable over the API — the others are OAuth and must be
        connected in the web UI. The key is verified against Bitstamp before it is stored and
        must carry the "View your transactions" permission (Bitstamp's order status has no fill
        price, so transactions are the only place a bot can learn what it paid). Both key and
        secret are secret: on Bitstamp the key itself is the identity.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BitstampCredentials" }
      responses:
        "204": { description: Connected. }
        "400": { description: Bitstamp rejected the credentials, or the key lacks transactions permission. }
  /api/v1/bitstamp/disconnect:
    delete:
      operationId: bitstampDisconnect
      tags: [Brokers]
      summary: Disconnect the Bitstamp account.
      responses:
        "204": { description: Disconnected. }

  /api/v1/auth/me:
    get:
      operationId: getProfile
      tags: [Account]
      summary: Your profile.
      responses:
        "200":
          description: Profile.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
    patch:
      operationId: updateProfile
      tags: [Account]
      summary: Update profile fields.
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        "200":
          description: Updated profile.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /api/v1/newsletter/me:
    get:
      operationId: getNewsletterStatus
      tags: [Account]
      summary: Whether your account is subscribed to the product newsletter.
      responses:
        "200":
          description: Subscription status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscribed: { type: boolean }
    put:
      operationId: setNewsletterStatus
      tags: [Account]
      summary: Opt your account in or out of the product newsletter.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subscribed]
              properties:
                subscribed: { type: boolean }
      responses:
        "200":
          description: Updated subscription status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscribed: { type: boolean }

  /api/v1/auth/keys:
    get:
      operationId: listApiKeys
      tags: [Account]
      summary: List your API keys (metadata only).
      responses:
        "200":
          description: Array of keys.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ApiKey" }
    post:
      operationId: createApiKey
      tags: [Account]
      summary: Mint an API key (browser session only — a key cannot mint keys).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
      responses:
        "200":
          description: The new key (secret shown once).
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
                  name: { type: string }
                  key_prefix: { type: string }
                  key: { type: string, description: Plaintext key, shown once. }

  /api/v1/auth/keys/{id}:
    parameters:
      - $ref: "#/components/parameters/PathId"
    delete:
      operationId: revokeApiKey
      tags: [Account]
      summary: Revoke an API key.
      responses:
        "204": { description: Revoked. }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: A PineconeX personal access token (pcx_live_...).
  parameters:
    PathId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
  schemas:
    Strategy:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }
        status: { type: string, enum: [unvalidated, valid, invalid] }
        content_hash: { type: string }
        bytecode_hash: { type: string, nullable: true }
        code: { type: string, nullable: true }
        visibility: { type: string, enum: [private, shared_open, shared_protected] }
        share_token: { type: string, format: uuid, nullable: true }
        is_owner: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        github_stem: { type: string, nullable: true }
        params_json5: { type: string, nullable: true }
    InputSpec:
      type: object
      description: One input.* field. Shape depends on `kind`.
      properties:
        kind: { type: string, enum: [int, float, bool, string] }
        var_name: { type: string }
        title: { type: string }
        defval: {}
        minval: { type: number, nullable: true }
        maxval: { type: number, nullable: true }
        step: { type: number }
        options: { type: array, items: { type: string } }
        swept: { type: boolean }
    CommonJobRequest:
      type: object
      required: [strategy_id, symbol, timeframe, from_date, to_date, data_source]
      properties:
        strategy_id: { type: string, format: uuid }
        symbol: { type: string, example: AAPL }
        timeframe: { type: string, example: "1D", description: "1D, 1H, 15m, 5m, 1m, 1W, 1M" }
        from_date: { type: string, format: date }
        to_date: { type: string, format: date }
        data_source:
          type: string
          example: yahoo
          enum: [yahoo, saxo, massive, ibkr, alpaca, bitstamp]
          description: >-
            A source only serves symbols it has a ticker for (see the Symbol schema); a null
            ticker is a 400. yahoo: equities + crypto, no account, but NO intraday older than
            730 days. saxo: EU/US equities (needs saxo_uic — crypto has none). alpaca: US
            equities + US-dollar crypto pairs, crypto history starts 2021-01-01. bitstamp:
            crypto (USD + EUR) — no account needed, timeframes 1m/5m/15m/30m/60m/1D, and the
            ONLY source for deep intraday crypto history (public series back to 2011).
        htf_timeframe: { type: string, nullable: true }
        htf_data_source: { type: string, nullable: true }
        intrabar_timeframe: { type: string, nullable: true }
        intrabar_data_source: { type: string, nullable: true }
    ParamsOverride:
      type: object
      additionalProperties: true
      description: "Map of input var_name -> number|bool (strings rejected)."
    BacktestRequest:
      allOf:
        - $ref: "#/components/schemas/CommonJobRequest"
        - type: object
          properties:
            params_override: { $ref: "#/components/schemas/ParamsOverride" }
    SweepRequest:
      allOf:
        - $ref: "#/components/schemas/CommonJobRequest"
        - type: object
          required: [mode]
          properties:
            mode: { type: string, enum: [grid, random, rbf], description: "bayesian and monte_carlo were REMOVED 2026-07-13 (both failed a blind-random control at equal budget: monte_carlo scored worse than random, bayesian tied it). Sending either now returns 400." }
            trials: { type: integer, nullable: true, description: "Evaluations for random/rbf (rbf calls it the budget). Grid derives its count from minval/maxval/step." }
            metric: { type: string, default: net_pnl_pct, description: "The objective the search hill-climbs. One of net_pnl_pct, return_over_dd, sharpe, profit_factor, expectancy, win_rate, max_dd_pct (minimised) — or a custom expression 'expr: <formula>' over the trial metrics (variables: net_pnl_pct, max_dd_pct, trades, win_rate, profit_factor, expectancy, sharpe, return_over_dd; operators + - * / ( )), maximised as written, e.g. 'expr: net_pnl_pct - 0.5 * max_dd_pct'. ONLY rbf steers — grid enumerates every cell and random samples blindly, so both ignore it (not an error, just no effect). Requires the strategy to have //@sweep params (400 otherwise)." }
            min_trades: { type: integer, default: 5, description: "A trial with fewer closed trades can never win — not in the search, not in the results ranking. 0..1000; 0 disables. This is what makes the non-PnL objectives safe: profit factor of a config that never trades is +inf (no losses) and win rate of one lucky trade is 100%, so with no floor a PF or win-rate search converges on a strategy that refuses to trade." }
            perm_seed: { type: integer, nullable: true, description: "Sweep a bar-PERMUTED copy of the series instead of the real bars. A permutation is fully determined by its seed, so re-submitting the same sweep under N seeds builds a null distribution of the best-of-search score — an in-sample Monte Carlo permutation test. No bars cross the wire. Rejected (400) with intrabar_timeframe." }
            perm_block: { type: integer, default: 1, description: "Permutation block size in bars (1..1000). 1 = single-bar. Ignored unless perm_seed is set." }
    RobustnessRequest:
      allOf:
        - $ref: "#/components/schemas/CommonJobRequest"
        - type: object
          properties:
            permutations: { type: integer, default: 200, description: Null-distribution size (1..2000). }
            metric: { type: string, default: net_pnl_pct, description: "BOTH the statistic the p-value is computed on AND the objective the search hill-climbs inside every permutation — deliberately the same value. One of net_pnl_pct, return_over_dd, sharpe, profit_factor, expectancy, win_rate — or a custom expression 'expr: <formula>' (same syntax as the sweep metric), maximised as written. An MCPT is only valid when the procedure re-run on permuted bars IS the procedure that ran on the real bars, so a search optimising net PnL while the test reported win rate would be a different procedure and its null would not describe it. Set it to whatever your sweep optimised — including the same expr: formula if the sweep used one. max_dd_pct is NOT accepted (400): every statistic here is higher-is-better, which is what makes the one-sided upper tail correct." }
            min_trades: { type: integer, default: 5, description: "A trial with fewer closed trades can never be the winner the statistic is read from — applied identically to the real run and to every permutation. 0..1000. With no floor a strategy that takes ZERO trades is a valid winner: its statistic is 0, every shuffled series also scores 0, and the test returns p = 1.0000 about a strategy that never traded." }
            block_size: { type: integer, default: 1, description: "1 = single-bar permutation (destroys all serial structure); >1 = block permutation (shuffle N-bar chunks, preserving shorter structure). Range 1..1000." }
            seed: { type: integer, nullable: true, description: RNG seed; omit for time-seeded. Effective seed is echoed in results. }
            search_mode: { type: string, enum: [fixed, grid, random, rbf], default: fixed, description: "The selection procedure re-run inside every permutation — this IS the null hypothesis. 'fixed' re-runs the strategy's authored input defaults (one backtest per permutation) and is correct ONLY if the parameters were chosen without looking at the data. If they came from a sweep, 'fixed' is optimistically biased: it cannot see that N candidates were tried, and the best of N noise draws is high by construction. Declare the search you actually used and it is re-run inside every permutation, so the null becomes 'the best score this strategy family can be fitted to noise'. Cost scales with it; permutations x search size is capped (400 over the limit)." }
            search_trials: { type: integer, nullable: true, description: "Candidates per permutation for random/bayesian/rbf. Ignored by fixed and grid." }
    StressRequest:
      allOf:
        - $ref: "#/components/schemas/CommonJobRequest"
        - type: object
          properties:
            model: { type: string, enum: [ou_jump], default: ou_jump, description: Synthetic market generator. }
            half_lives: { type: array, items: { type: number }, description: "X axis: mean-reversion half-lives in bars. Max 12 values. The instrument's own calibrated coordinate is forced onto the grid, so a run is usually one row/column larger than what you pass." }
            jump_rates: { type: array, items: { type: number }, description: "Y axis: jumps per 1000 bars. Max 12 values." }
            paths: { type: integer, default: 20, description: Simulated paths per cell (1..100). }
            jump_sigma: { type: number, description: "0..50" }
            vol_mult: { type: number, description: "0.1..10" }
            bars: { type: integer, description: Bars per synthetic path (100..5000). }
            metric: { type: string, description: The statistic each cell is scored on. }
            seed: { type: integer, nullable: true }
            params_override: { type: object, additionalProperties: true, nullable: true, description: "The config to stress, keyed by input VARIABLE name (not title). Numbers and bools only — strings are rejected (code-injection guard). Send the same override you use for /jobs/backtest and /jobs/live: stress runs one fixed parameter set across every synthetic market, so it should be the set you actually deploy. Unlike sweep and robustness, which deliberately ignore it." }

    LiveRequest:
      type: object
      required: [strategy_id, symbol, timeframe]
      properties:
        strategy_id: { type: string, format: uuid }
        symbol: { type: string }
        timeframe: { type: string }
        htf_timeframe: { type: string, nullable: true }
        execute_orders: { type: boolean, default: true }
        heartbeat_secs: { type: integer, nullable: true }
        auto_restart: { type: boolean, default: false }
        params_override: { $ref: "#/components/schemas/ParamsOverride" }
        broker:
          type: string
          enum: [saxo, alpaca, ibkr, lightspeed, bitstamp]
          default: saxo
          description: >-
            The broker changes what protective orders exist. saxo and alpaca (equity) place a
            native OCO (resting stop + take-profit, linked). alpaca CRYPTO can rest only ONE
            exit — the stop — so its take-profit is bot-managed at bar close. bitstamp is SPOT
            and has NO native stop/TP/OCO at all: it accepts stop_price, answers 200 OK with an
            order id, and creates nothing, so every Bitstamp stop is SYNTHETIC (bot-side, bar
            close, on a 24/7 market) and spot is long-only. lightspeed and ibkr send market
            orders only — nothing rests, nothing protects.
        saxo_env: { type: string, enum: [sim, live], nullable: true, description: "Saxo only. Bitstamp's env is fixed when its credentials are saved." }
        webhook_url: { type: string, nullable: true, description: http/https endpoint for order/trade/fill events. }
    Job:
      type: object
      properties:
        id: { type: string, format: uuid }
        strategy_id: { type: string, format: uuid, nullable: true }
        job_type: { type: string, enum: [backtest, sweep, robustness, stress, live] }
        status: { type: string, enum: [pending, running, completed, failed, cancelled, timeout] }
        container_id: { type: string, nullable: true }
        config: { type: object, additionalProperties: true }
        auto_restart: { type: boolean }
        created_at: { type: string, format: date-time }
        finished_at: { type: string, format: date-time, nullable: true }
        progress_done: { type: integer, nullable: true }
        progress_total: { type: integer, nullable: true }
        error_message: { type: string, nullable: true }
    Symbol:
      type: object
      description: >-
        Always address a symbol by tv_symbol (AAPL, BTCUSD, ETHEUR) — the API maps it to each
        source's and broker's own name. The per-venue tickers below are NOT interchangeable
        (BTC-USD on Yahoo, BTC/USD on Alpaca, btcusd on Bitstamp) and are exposed only so a
        client can tell which sources/brokers carry the symbol: a null ticker means that venue
        cannot serve it. Crypto sits under index_name "Crypto (USD)" / "Crypto (EUR)".
      properties:
        id: { type: string, format: uuid }
        tv_symbol: { type: string, example: BTCUSD }
        display_name: { type: string }
        index_name: { type: string, example: Crypto (USD) }
        yahoo_ticker: { type: string, nullable: true, example: BTC-USD }
        massive_ticker: { type: string, nullable: true }
        ibkr_symbol: { type: string, nullable: true }
        alpaca_us_symbol: { type: string, nullable: true, example: BTC/USD }
        saxo_uic: { type: integer, nullable: true, description: Null for crypto — Saxo cannot serve it. }
        bitstamp_pair: { type: string, nullable: true, example: btcusd }
    BitstampCredentials:
      type: object
      required: [api_key, api_secret, env]
      properties:
        api_key: { type: string }
        api_secret: { type: string }
        env:
          type: string
          enum: [sandbox, live]
          description: sandbox = demo funds (this venue's only paper mode). live = REAL MONEY.
    CatalogEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        symbol_id: { type: string, format: uuid }
        tv_symbol: { type: string }
        display_name: { type: string }
        index_name: { type: string }
        source: { type: string }
        timeframe: { type: string }
        from_date: { type: string, format: date }
        to_date: { type: string, format: date }
        row_count: { type: integer }
        updated_at: { type: string, format: date-time }
        expires_at: { type: string, format: date-time, nullable: true }
    ApiKey:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        key_prefix: { type: string }
        created_at: { type: string, format: date-time }
        last_used_at: { type: string, format: date-time, nullable: true }
        expires_at: { type: string, format: date-time, nullable: true }
